<div class='text-center'>
    <img
      class='mb-4 rounded h-36 lg:h-56'
      src='/me.png'
      alt='Extra large avatar'
    />
    <a
      href='https://twitter.com/@quentonar'
      class='text-xl text-white transition-all duration-500 lg:text-2xl hover:text-teal-200'
      >Quentin Houguet</a
    >
  </div>