---
import { Icon } from "astro-icon"
---

<div class='flex justify-between w-5/6 mt-20 text-gray-400'>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://twitter.com/@quentonar'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:twitter' />
  </a>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://github.com/qhouguet?tab=repositories'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:github' />
  </a>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://www.linkedin.com/in/quentin-houguet-281a97275/'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:linkedin' />
  </a>
</div>